:root {
  --playbuttonsize: 35px;
  --playbuttongrow: 40px;
  --menubackground: rgba(100,100,100,0.12);
  --menubackgrounddarker: rgba(0,0,0,0.55);
  --cornerradius: 8px;
  --menucolor: rgb(220, 255, 200);
  --menucoloralpha: rgba(220, 255, 200, 0.7);
  --borderstyle: 2px solid var(--menucolor);
  --glow: 0px 0px 3px var(--menucolor) inset, 0px 0px 3px var(--menucolor);
  --textglow:  0px 0px 3px var(--menucolor);
  --glow2: 0px 0px 4px var(--menucolor) inset, 0px 0px 8px var(--menucolor);
  --superglow: 0px 0px 6px var(--menucolor) inset, 0px 0px 12px var(--menucolor);
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Iceland', cursive;
  font-size: 20px;
  letter-spacing: 0.02rem;
  color: var(--menucolor);
  overflow: hidden;
  background: linear-gradient(0deg, rgba(2,0,40,1) 0%, rgba(2,28,102,1) 57%, rgba(0,93,193,1) 100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

h1 {
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

#canvas {
  margin: auto;
  display: block;
}

.popup {
  font-size: 1.6rem;
  position: absolute;
  background-color: var(--menubackgrounddarker);
  border: var(--borderstyle);
  border-radius: var(--cornerradius);
  box-shadow: var(--glow);
  padding: 0 40px 0px 40px;
  width: 50%;
  top: 10%;
  left: 25%;
  max-height: 70%;
  overflow: scroll;
  overflow-x: hidden;
}

.popup:after { /*other way to insert padding at the bottom because firefox ignores bottom padding when used with overflow:scroll */
  content: "";
  height: 60px;
  display: block;
}

.fishoptionscontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fishoptions {
 width: 50%
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  margin-bottom: 5px;
}

.listmargin {
  margin-bottom: 10px;
}

.scrolltext {
  position: relative;
  height: auto;
  max-height: 20%;
  line-height: 1.6rem;
  letter-spacing: 0.1em;
}

::-webkit-scrollbar {
  width: 8px;
  background: none;
}
::-webkit-scrollbar-track {
  margin: 10px 5px 10px 0;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--menucoloralpha);
  height: 50%;
  border-radius: 4px;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 140px; 
  height: 2px; 
  background: var(--menucolor);
  outline: none;
  opacity: 0.5; 
  -webkit-transition: .2s;
  transition: opacity .1s;
  margin-top: 12px;
  box-shadow: var(--glow);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 10px; 
  height: 20px; 
  border-radius: 30%;
  background: white; 
  cursor: pointer; 
}

.slider:hover {
  opacity: 1;
}

.slider::-moz-range-thumb {
  width: 10px; 
  height: 20px; 
  border-radius: 30%;
  background: white; 
  cursor: pointer; 
}

table {
  width: 100%;
}

th{
  width: 70%;
  text-align: left;
  font-style: none;
  vertical-align: top;
}

td {
  width: auto;
  display: flex;
}

.tablevalue {
  margin-bottom: 5px;
  font-weight: bold;
}

.tabledivider {
  margin-bottom: 25px;
}

.optionsslider {
  margin-right: 20px;
}

.close {
  position: absolute;
  font-size: 1.3rem;
  right: 20px;
  top: 10px;
}

.closestats {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

#help, #options {
  display: none;
}

.playbuttons {
  position: absolute;
  left: 20px;
  bottom: 10px;
  height: var(--playbuttongrow);
  z-index: 100;
}

.button {
  position: absolute;
  top: 0;
  background-size: contain;
  width: var(--playbuttonsize);
  height: var(--playbuttonsize);
  margin-left: 10px;
  cursor: pointer;
  background-size: cover;
}

#pauze {
  background-image: url("../static/pauze.png");
  left: 0;
}

#play {
  background-image: url("../static/play.png");
  left: var(--playbuttongrow);
}

#fastforward {
  background-image: url("../static/fastforward.png");
  left: calc(var(--playbuttongrow) * 2);
}

#ultrafastforward {
  background-image: url("../static/ultrafastforward.png");
  left: calc(var(--playbuttongrow) * 3);
}

.button:hover{
  animation-name: grow;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  100% {width: var(--playbuttongrow);
        height: var(--playbuttongrow);
        top: calc(-0.5 * (var(--playbuttongrow) - var(--playbuttonsize)));
 }
}

@keyframes glow {
  100% {box-shadow: var(--glow2);}
}

.fishbuttonmenu{
  position: absolute;
  top: 0px;
  right: 20px;
  height: 10px;
  width: auto;
  display: flex;
  align-items: flex-start;
}

.fishbuttoncontainer{
  width: 100%;
  padding: 5px;
  margin-left: 5px;
  background-color: var(--menubackground);
  border-bottom-right-radius: var(--cornerradius);
  border-bottom-left-radius: var(--cornerradius);
  border: var(--borderstyle);
  border-top: none;
  text-align: center;

}

.fishbutton {
  height: 35px;
  width: 100%;
  min-width: 90px;
}

.fishbutton:hover {
  cursor:pointer;
}

.fishbuttoncontainer:hover {
  animation-name: glow;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}


.fishbutton img{
  margin: 0;
  position: absolute;
  top: 25px;
  transform: translate(-50%, -50%);
}

.fishstats {
  width: 200px;
  overflow-wrap: break-word;
  display: none;
}

.fishstats p {
  margin-bottom: 2px;
}

.colorcontainer {
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.colorblock {
  width: 30px;
  height: 30px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid var(--menucolor);
  border: none;
  border-radius: 3px;
}

.red { 
  background-color: rgb(230, 65, 65);
  box-shadow: var(--glow2);
}

.blue {
  background-color: rgb(56, 37, 221);
}

.green {
  background-color: rgb(3, 226, 22);
}

.yellow {
  background-color: rgb(208, 228, 27);
}

.purple {
  background-color: rgb(212, 5, 185);
}

.turquoise {
  background-color: rgb(0, 231, 162);
}

.white {
  background-color: rgb(216, 216, 216);
}

.black {
  background-color: rgb(26, 26, 26);
}

.textbuttoncontainer {
  position: absolute;
  right: 20px;
  bottom: 10px;
  text-align: right;
  font-size: 1.8rem;
}
.textbuttoncontainer div{
  margin-bottom: 6px;
}

#resetbutton, #helpbutton, #optionsbutton {
  margin-top: 5px;
}

.textbutton:hover {
  text-shadow: var(--textglow);
  cursor: pointer;
  text-decoration: underline;
}

#fishTank {
  margin: auto;
  width: 100%;
  height: 100%;
}


#selectionbox{
  position: absolute;
}

#selectionbox {
  text-align: center;
  justify-content: center;
  border: var(--borderstyle);
  border-top: none;
  border-bottom-right-radius: var(--cornerradius);
  border-bottom-left-radius: var(--cornerradius);
  box-shadow: var(--glow);
  background-color:var(--menubackground);
  padding: 8px;
  width: 180px;
  font-size: 20px;
  position: absolute;
  left: 30px;
  top: 0px;
  color: var(--menucolor);
  flex-wrap: wrap;
  display: none;
  z-index: 100;
}

.kill {
  margin-top: 20px;
  border: 1px solid var(--menucolor);
  border-radius: 6px;
  padding: 7px 15px 7px 15px;
  display: inline-block;
  text-align: center;
  background-color: rgba(255,255,255,0.15);
  align-self: flex-end;
}

.kill:hover{
 cursor: pointer;
 box-shadow: var(--glow);
}

#selectionbox p {
  margin: 0px 0px 6px 0px;
  width: 100%;
}